.maindiv{
   margin: 0px;
   padding: 0px;
    text-align: center;
    width:100vw;
    height: 70vh;
    background-image: url('D:\react classes\app1\MyBlog\src\pexels-stijn-dijkstra-3265460.jpg');
    background-position: center;
    
}
.h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
}
.pic{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 17px;
    
}
.pic:hover{
    cursor: pointer;
    width:400px;
    transform: translate(0.3s ease-out);
}
@media  screen and (max-width:900px) {
    .maindiv{
        margin: 2px;
        padding: 2px;
        width:97vw;
    height: 100vh;
    }
    .pic{
        width: 150px;
        height: 150px;
        margin-right: 44px;
    }
    .pic:hover{
        width: 200px;
        transition: 0.3s ease-in;
    }
}